{:paths   ["src" "resources"]
 :deps    {com.datomic/client-cloud {:mvn/version "1.0.131"}
           com.datomic/local        {:mvn/version "1.0.291"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
